<!DOCTYPE html>
<html>
  <head>
    <title>fCC Stock Price Checker</title>
    <meta name="description" content="An easy way to check your portfolio">    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">    
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link rel="stylesheet" href="./public/style.css">    
  </head>
  <body>
    <div id="main-container">
      <h1>freeCodeCamp Stock Checker</h1>
      <div id="text-container">
        <div id="input">          
          <form id="testForm2">
            <h3>Get a single price and total likes</h3>
            <input type="text" name="stock" placeholder="Enter ticker" required>
            <input type="checkbox" name="like" value="true"> Like?<br>
            <button type="submit">Get Price!</button>
          </form>          
          <form id="testForm">
            <h3>Compare and get relative likes</h3>
            <input type="text" name="stock" placeholder="Enter ticker #1" required>
            <input type="text" name="stock" placeholder="Enter ticker #2" required>
            <input type="checkbox" name="like" value="true"> Like both?<br>
            <button type="submit">Get Prices!</button>
          </form>
        </div>
        <div id="instructions">
          <div id="example-usage">
            <h3>Example Usage:</h3>
            <div class="code-block">           
<code>/api/stock-prices?stock=goog
/api/stock-prices?stock=goog&amp;like=true
/api/stock-prices?stock=goog&amp;stock=msft
/api/stock-prices?stock=goog&amp;stock=msft&amp;like=true</code>
            </div>
          </div>
          <div id="example-return">
            <h3>Example Return:</h3>
            <div class="code-block">           
<code class="code-block">{"stockData":{"stock":"GOOG","price":"786.90","likes":1}}
{"stockData":[{"stock":"MSFT","price":"62.30","rel_likes":-1},
              {"stock":"GOOG","price":"786.90","rel_likes":1}]}</code>
            </div>
          </div>
        </div>        
      </div>
      <div id="json-box">
        <code id="jsonResult"></code>
      </div>
    </div>
    <script src="./public/client.js"></script>
  </body>
</html>

